@media(max-width:1024px)
{
 h2{
    font-size: 3rem;
 }   
 p{
    font-size: 0.9rem;
 }
 .PARAGRAPH{
    padding:2rem 2.7rem 0.6rem 2.7rem;
 }
 img{
    aspect-ratio: 1;
    width:100%;
 }
}
@media(max-width:768px)
{
   .about-section{
       font-size:7px;
   }

}
@media(max-width:425px)
{
   .about-section{
   //   font-size:5px;
   // }
   //  h2{
   //      font-size: 1.5rem;
   //      text-align: center;
   //   }   
   //   p{
   //      font-size:0.6rem;
   //   }
   //   .PARAGRAPH{
   //    padding:2rem 2rem 1rem 2rem;
   .PARAGRAPH{
      padding:10px 27px 10px 27px;
   }
      .h2 {
        font-size: 10px;
        line-height: unset;
        font-weight: bold;
        padding:5px 10px;
      }
            p{
               font-size:10px;
               line-height:15px;
               font-weight: 500;
               padding:7px 10px;
              }
    }
}