
.about-section
{
   // width:100%;
   // height:auto;
   // background-color: black;
    font-size: 10px;
    .about-left-child{
        background-color: black;
       width: 100%;
       aspect-ratio: 16/9;
        .PARAGRAPH{
            padding:2rem 2.7rem 1rem 2.7rem;
            h2{
                font-size: 3.4rem;
                color:var(--primary-color);
                font-weight: bolder;
                letter-spacing: 0.1rem;
            }
            p{
                font-size: 1rem;
                color: white;
                font-weight: 600;
                font-family: 'Courier New', Courier, monospace;
                text-align: justify;
            }
        }
    }
    .about-right-child{
        aspect-ratio: 16/9;
        width:100%;
        .swiper{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            object-fit: cover;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: rgb(253, 239, 239);
                display: flex;
                justify-content: center;
                align-items: center;
             img{
                 object-fit: cover;
                 min-width:100%;
                 aspect-ratio: 16/10;
             }
            }
        }
    }
}